<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weatherIcon.png">
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>This site uses API data from mapbox.com and weatherstack.com to bring you live weather forecasts on any location on this planet.</p>
            <img class="portrait profilepic" src="img/academicprimate.jpg"> <!-- To add multiple class names just put a space inbetween each-->
        </div>

        {{>footer}}
    </body>
</html>