
<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weatherIcon.png">
        <link rel="stylesheet" href="/css/styles.css"> 
    </head> 

    <body>
        <div class="main-content"> <!-- Using flex box we will make this div take up all available space, forcing footer to stick to bottom-->
            {{>header}}
            <p>Use this site to get your weather</p>

            <form> 
                <input placeholder="Location" >
                <button>Search</button>
            </form>
            
            <audio id="reload">
                <source src="sfx/gun-reload.mp3" type="audio/mpeg">
            </audio>

            <audio id="shoot">
                <source src="sfx/shotgunshot.mp3" type="audio/mpeg">
            </audio>

            <p id="message-1"></p>
            <p id="message-2"></p>
            <img id="weather-icon">

        </div>

        {{>footer}}

        <script src="/js/app.js"></script> <!-- script should run after all elements are available, order of parsing matters -->
        <script src="/js/playSound.js"></script>
    </body>



</html>