<header>
    <h1>{{title}}</h1>
    <a href="/">Main</a><!-- 'a' is an anchor element, here href makes text a link to root-->
    <a href="/about">About</a>
    <a href="/help">Help</a>    
</header> <!-- html comes w/ header and footer divs -->